In [ ]:
from pyspark.sql import SparkSession #Make sure it's pyspark.sql!
from pyspark import SparkContext, SparkConf

In [ ]:
conf = SparkConf().set("spark.ui.port", "4050")

In [ ]:
sc = SparkContext(conf=conf)

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [ ]:
from pyspark import SQLContext

In [ ]:
sqlContext = SQLContext(sc) #The object sqlContext is created

In [ ]:
df = sqlContext.read.csv("/content/amazon.csv", header='true') #header='true' can be used to create the header row

In [ ]:
df.show()

+-----+---------+----+------+--------+
|state|    month|year|number|    date|
+-----+---------+----+------+--------+
| Acre|  Janeiro|2003|     1|1/1/2003|
| Acre|  Janeiro|2005|     1|1/1/2005|
| Acre|  Janeiro|2006|     1|1/1/2006|
| Acre|  Janeiro|2010|     1|1/1/2010|
| Acre|  Janeiro|2015|     1|1/1/2015|
| Acre|  Janeiro|2016|     1|1/1/2016|
| Acre|Fevereiro|2002|     1|1/1/2002|
| Acre|Fevereiro|2004|     1|1/1/2004|
| Acre|Fevereiro|2007|     1|1/1/2007|
| Acre|Fevereiro|2009|     1|1/1/2009|
| Acre|Fevereiro|2015|     1|1/1/2015|
| Acre|Fevereiro|2016|     1|1/1/2016|
| Acre|Fevereiro|2017|     1|1/1/2017|
| Acre|    Mar�o|2000|     1|1/1/2000|
| Acre|    Mar�o|2005|     1|1/1/2005|
| Acre|    Mar�o|2007|     1|1/1/2007|
| Acre|    Mar�o|2009|     1|1/1/2009|
| Acre|    Mar�o|2012|     1|1/1/2012|
| Acre|    Mar�o|2013|     1|1/1/2013|
| Acre|    Mar�o|2014|     1|1/1/2014|
+-----+---------+----+------+--------+
only showing top 20 rows

In [ ]:
df.printSchema() #This will print out the different fields and datatypes of the dataframe

root
 |-- state: string (nullable = true)
 |-- month: string (nullable = true)
 |-- year: string (nullable = true)
 |-- number: string (nullable = true)
 |-- date: string (nullable = true)

In [ ]:
df.columns #This creates an array of the dataframe's columns

['state', 'month', 'year', 'number', 'date']

In [ ]:
df.describe().show() #Need to include the .show() method to present the info in a dataframe

+-------+---------+--------+------------------+------------------+--------+
|summary|    state|   month|              year|            number|    date|
+-------+---------+--------+------------------+------------------+--------+
|  count|     5837|    5837|              5837|              5837|    5837|
|   mean|     null|    null|2007.8348466678087|119.74029004625663|    null|
| stddev|     null|    null| 5.649076182727606| 197.1996444242146|    null|
|    min|     Acre|   Abril|              1998|                 1|1/1/1998|
|    max|Tocantins|Setembro|              2017|               998|1/1/2017|
+-------+---------+--------+------------------+------------------+--------+

In [ ]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [ ]:
data_schema = [StructField('number', IntegerType(), True)]

In [ ]:
final_struc = StructType(fields=data_schema)

In [ ]:
#df = sqlContext.sql("SELECT * FROM ") Need to figure out how to run a Spark SQL query

In [ ]:
df.select('state').show()

+-----+
|state|
+-----+
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
| Acre|
+-----+
only showing top 20 rows

In [ ]:
df.head(2)

[Row(state='Acre', month='Janeiro', year='2003', number='1', date='1/1/2003'),
 Row(state='Acre', month='Janeiro', year='2005', number='1', date='1/1/2005')]

In [37]:
df.withColumn('newstate', df['state']).show()

+-----+---------+----+------+--------+--------+
|state|    month|year|number|    date|newstate|
+-----+---------+----+------+--------+--------+
| Acre|  Janeiro|2003|     1|1/1/2003|    Acre|
| Acre|  Janeiro|2005|     1|1/1/2005|    Acre|
| Acre|  Janeiro|2006|     1|1/1/2006|    Acre|
| Acre|  Janeiro|2010|     1|1/1/2010|    Acre|
| Acre|  Janeiro|2015|     1|1/1/2015|    Acre|
| Acre|  Janeiro|2016|     1|1/1/2016|    Acre|
| Acre|Fevereiro|2002|     1|1/1/2002|    Acre|
| Acre|Fevereiro|2004|     1|1/1/2004|    Acre|
| Acre|Fevereiro|2007|     1|1/1/2007|    Acre|
| Acre|Fevereiro|2009|     1|1/1/2009|    Acre|
| Acre|Fevereiro|2015|     1|1/1/2015|    Acre|
| Acre|Fevereiro|2016|     1|1/1/2016|    Acre|
| Acre|Fevereiro|2017|     1|1/1/2017|    Acre|
| Acre|    Mar�o|2000|     1|1/1/2000|    Acre|
| Acre|    Mar�o|2005|     1|1/1/2005|    Acre|
| Acre|    Mar�o|2007|     1|1/1/2007|    Acre|
| Acre|    Mar�o|2009|     1|1/1/2009|    Acre|
| Acre|    Mar�o|2012|     1|1/1/2012|    Acre|
| Acre|    Mar�o|2013|     1|1/1/2013|    Acre|
| Acre|    Mar�o|2014|     1|1/1/2014|    Acre|
+-----+---------+----+------+--------+--------+
only showing top 20 rows

In [38]:
df.withColumnRenamed('state', 'my_new_state').show()

+------------+---------+----+------+--------+
|my_new_state|    month|year|number|    date|
+------------+---------+----+------+--------+
|        Acre|  Janeiro|2003|     1|1/1/2003|
|        Acre|  Janeiro|2005|     1|1/1/2005|
|        Acre|  Janeiro|2006|     1|1/1/2006|
|        Acre|  Janeiro|2010|     1|1/1/2010|
|        Acre|  Janeiro|2015|     1|1/1/2015|
|        Acre|  Janeiro|2016|     1|1/1/2016|
|        Acre|Fevereiro|2002|     1|1/1/2002|
|        Acre|Fevereiro|2004|     1|1/1/2004|
|        Acre|Fevereiro|2007|     1|1/1/2007|
|        Acre|Fevereiro|2009|     1|1/1/2009|
|        Acre|Fevereiro|2015|     1|1/1/2015|
|        Acre|Fevereiro|2016|     1|1/1/2016|
|        Acre|Fevereiro|2017|     1|1/1/2017|
|        Acre|    Mar�o|2000|     1|1/1/2000|
|        Acre|    Mar�o|2005|     1|1/1/2005|
|        Acre|    Mar�o|2007|     1|1/1/2007|
|        Acre|    Mar�o|2009|     1|1/1/2009|
|        Acre|    Mar�o|2012|     1|1/1/2012|
|        Acre|    Mar�o|2013|     1|1/1/2013|
|        Acre|    Mar�o|2014|     1|1/1/2014|
+------------+---------+----+------+--------+
only showing top 20 rows

In [39]:
df.createOrReplaceTempView('states') #A view for the dataframe is created

In [44]:
results = spark.sql("SELECT * FROM states")

In [45]:
results.show()

+-----+---------+----+------+--------+
|state|    month|year|number|    date|
+-----+---------+----+------+--------+
| Acre|  Janeiro|2003|     1|1/1/2003|
| Acre|  Janeiro|2005|     1|1/1/2005|
| Acre|  Janeiro|2006|     1|1/1/2006|
| Acre|  Janeiro|2010|     1|1/1/2010|
| Acre|  Janeiro|2015|     1|1/1/2015|
| Acre|  Janeiro|2016|     1|1/1/2016|
| Acre|Fevereiro|2002|     1|1/1/2002|
| Acre|Fevereiro|2004|     1|1/1/2004|
| Acre|Fevereiro|2007|     1|1/1/2007|
| Acre|Fevereiro|2009|     1|1/1/2009|
| Acre|Fevereiro|2015|     1|1/1/2015|
| Acre|Fevereiro|2016|     1|1/1/2016|
| Acre|Fevereiro|2017|     1|1/1/2017|
| Acre|    Mar�o|2000|     1|1/1/2000|
| Acre|    Mar�o|2005|     1|1/1/2005|
| Acre|    Mar�o|2007|     1|1/1/2007|
| Acre|    Mar�o|2009|     1|1/1/2009|
| Acre|    Mar�o|2012|     1|1/1/2012|
| Acre|    Mar�o|2013|     1|1/1/2013|
| Acre|    Mar�o|2014|     1|1/1/2014|
+-----+---------+----+------+--------+
only showing top 20 rows

In [46]:
new_results = spark.sql("SELECT * FROM states WHERE month = 'Janeiro'") #Select all records with the month Janeiro

In [47]:
new_results.show()

+-------+-------+----+------+--------+
|  state|  month|year|number|    date|
+-------+-------+----+------+--------+
|   Acre|Janeiro|2003|     1|1/1/2003|
|   Acre|Janeiro|2005|     1|1/1/2005|
|   Acre|Janeiro|2006|     1|1/1/2006|
|   Acre|Janeiro|2010|     1|1/1/2010|
|   Acre|Janeiro|2015|     1|1/1/2015|
|   Acre|Janeiro|2016|     1|1/1/2016|
|Alagoas|Janeiro|1999|     1|1/1/1999|
|Alagoas|Janeiro|2000|     1|1/1/2000|
|Alagoas|Janeiro|2001|     1|1/1/2001|
|Alagoas|Janeiro|2002|     1|1/1/2002|
|Alagoas|Janeiro|2003|     1|1/1/2003|
|Alagoas|Janeiro|2004|     1|1/1/2004|
|Alagoas|Janeiro|2005|     1|1/1/2005|
|Alagoas|Janeiro|2006|     1|1/1/2006|
|Alagoas|Janeiro|2007|     1|1/1/2007|
|Alagoas|Janeiro|2008|     1|1/1/2008|
|Alagoas|Janeiro|2009|     1|1/1/2009|
|Alagoas|Janeiro|2010|     1|1/1/2010|
|Alagoas|Janeiro|2011|     1|1/1/2011|
|Alagoas|Janeiro|2012|     1|1/1/2012|
+-------+-------+----+------+--------+
only showing top 20 rows